@font-face{
    font-family: "Ribeye";
    src: url(fonts/ribeye.woff2);
}

body{
    background-color: #CBAC4D;
}

header{
    text-align: center;
}

h1{
    font-family: "Ribeye";
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
}

div.nombre{
    font-weight: bold;
}

div.obras{
    font-style: oblique;
    text-decoration: underline;
}

@font-face{
    font-family: 'Lobster';
   src: url(fonts/lobster.woff2)

}
@font-face{
    font-family: 'Just Another Hand';
    src: url(fonts/just-another-hand.woff2)
}
p.latin{
    font-family: 'Lobster', cursive;
    margin: 0;
    font-size: 2.5rem;
}
p.español{
    font-family:'Just Another Hand', cursive;
    margin: 0 0 3rem;
    color: white;
    font-size: 3.5rem;
  letter-spacing: 1px;
  text-align: right;

}